<%= xtra.do_not_edit_warning template: template %>

# Minipeg

**TODO: Add description**

## Installation

If [available in Hex](https://hex.pm/docs/publish), the package can be installed
by adding `minipeg` to your list of dependencies in `mix.exs`:

```elixir
def deps do
  [
    {:minipeg, "~> 0.1.0"}
  ]
end
```

## Table Of Content

<%= xtra.toc :self, gh_links: true, min_level: 2, max_level: 4, remove_gaps: true %>

Documentation can be generated with [ExDoc](https://github.com/elixir-lang/ex_doc)
and published on [HexDocs](https://hexdocs.pm). Once published, the docs can
be found at <https://hexdocs.pm/minipeg>.

It is also included in the next chapter

## Documentation

<%= xtra.moduledoc "Minipeg", wrap_code_blocks: "elixir", headline: 3 %>

## LICENSE

Apache-2.0 see [for details](LICENSE)

<!--SPDX-License-Identifier: Apache-2.0-->
